#addplayer {
    display: none;
}

#gamescreen {
    display: none;
}

#finalscore {
    display: none;
}

#splashscreen {}

#credits {
    display: none;
}

body,
#splashsceen {
    background-image: url("img/Australian_Senate_-_Parliament_of_Australia.jpg");
    background-size: cover;
}

#titles {
    height: 40%;
    width: 400px;
    margin: auto;
    margin-top: 20%;
    background: rgb(255, 255, 255);
    /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}


/*#gametitle, #strapline {
    position: relative;
    text-align: center;
}*/

#addplayerpanel {
    height: 50%;
    margin-top: 20%;
}

#addplayerform {
    width: 350px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#addplayerform button {
    margin: 10px;
}

#gamescreen {
    margin-top: 2%;
    margin-top: 5%;
    border: 2px solid #555;
    background: rgb(0, 0, 0);
    /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.issuerow {
    margin-top: 15px;
}

.partystance btn {
    padding: 0px;
}


/*.turnmanagement {
    margin-top: 2%;
    border: 2px solid #555;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: 20px;
    color: white;
}*/

.partyheader {
    text-align: center;
}

.row-major {
    background-color: rgba(255, 255, 0, 0.35);
}

.row-minor {
    background-color: rgba(255, 255, 0, 0.2);
}

.bigletter {
    font-size: x-large;
    display: block;
    float: left;
    line-height: 150%;
    margin-right: 1em;
}

.pts {
    float: left;
    clear: left;
    font-weight: bold;
}

.left-stats {
    float: left;
    text-align: center;
}

.right-hansard {}

.issuepara {
    margin-left: 45px;
    margin-top: 10px;
}


.right-hansard ul
{
    list-style-type: none;
}

